<html ng-app="churn-chrome-ext" ng-csp="">
<head>
	<link rel="stylesheet" type="text/css" href="css/ext.css">
</head>
<body ng-controller="MainCtrl">
	<!-- facebook sdk -->
	<!--
	<div id="fb-root"></div>
	<script></script>
	-->

	<div screen=""></div>
	<div class="notice-outer" ng-if="errorState.visible">
		<div class="notice-inner">
			<span class="icon-error notice-icon"></span>
			<div class="notice-text">Error!</div>
			<div class="error-text">{{errorState.text}}</div>
		</div>
	</div>
	<div class="loader-outer" ng-if="loadState.loading">
		<div class="loader-inner">
			<span class="icon-spin3 animate-spin loader-icon"></span>
		</div>
	</div>

	<!-- Libs -->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-resource/angular-resource.js"></script>

	<!-- Primary app files -->
	<script src="app/channels/channels.js"></script>
	<script src="app/saved/saved.js"></script>
	<script src="app/filters/filters.js"></script>
	<script src="app/chrome/chrome.js"></script>
	<script src="app/loader/loader.js"></script>
	<script src="app/error/error.js"></script>
	<script src="app/api/api.js"></script>
	<script src="app/screens/screens.js"></script>
	<script src="main.js"></script>
</body>
</html>