<div class="channel-list" ng-controller="Channels">
	<div class="list">
		<div class="list-title">
			Save video to channel
		</div>
		<div class="list-title-video">
			<img class="list-title-thumb" ng-src="http://i1.ytimg.com/vi/{{video.id}}/mqdefault.jpg">
			<div class="list-title-video-name">{{video.title}}</div>
		</div>
		<div class="hl"></div>
		<div class="list-wrapper">
			<div ng-repeat="item in channels" ng-click="saveTo(item.channelId)">
				<div class="list-item">
					<img class="list-item-thumb" ng-src="http://i1.ytimg.com/vi/{{item.defaultVideoThumb}}/mqdefault.jpg"/>
					<div class="list-item-details">
						<div class="list-item-title">
							{{item.name}}
						</div>
						<div class="list-item-metrics">
							{{item.totalShares | textNumber}} shares - {{item.totalViews | textNumber}} views
						</div>
					</div>
				</div>
				<div class="hl"></div>
			</div>
			<div class="list-item" ng-click="newChannel()">
				<img class="list-item-thumb" src="http://i.imgur.com/jMosBJD.jpg"/>
				<div class="list-item-details">
					<div class="list-item-title">Start a new channel</div>
				</div>
			</div>
		</div>
	</div>
</div>